{var $totalPrice = 0}

{form cartForm}

{foreach $cartItems as $item}

    {var $totalPrice += $item->price}

    {if $iterator->first}
        <table class="table">
        <tr>
            <th>#</th>
            <th>Položka</th>
            <th>Cena za kus</th>
            <th>Kusů</th>
            <th>Cena celkem</th>
        </tr>
    {/if}

    <tr>
        <td>{$iterator->counter}.</td>
        <td><a href="{plink Product:detail productId => $item->productId}">{$item->productName}</a></td>
        <td>{$item->productPrice|number}</td>
        <td>
            <input class="form-control" title="Počet kusů" type="number" name="item_count[{$item->productId}]" value="{$item->quantity}">
        </td>
        <td>{$item->price|number}</td>
    </tr>

    {if $iterator->last}
        <tr>
            <td colspan="4">Celkem</td>
            <td>{$totalPrice|number}</td>
        </tr>
        </table>
    {/if}

{/foreach}

{input recount class => 'btn btn-default'}

<a n:href="clear!" class="btn btn-danger">Smazat košík</a>

{/form}