{block content}

    <h1 n:block=title>Přihlásit se</h1>

    {control loginForm}

    <ul>
        <li><a n:href="Sign:lostPassword">Zapomněl jsem heslo</a></li>
        <li><a n:href="Sign:up">Zaregistrovat se</a></li>
    </ul>



{/block}