<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">

	<link rel="stylesheet" href="{$basePath}/bower_components/bootstrap/dist/css/bootstrap.css" />
	<link rel="stylesheet" href="{$basePath}/bower_components/bootstrap/dist/css/bootstrap-theme.css" />

	<title>{ifset title}{include title|striptags} | {/ifset}Nette Web</title>
</head>

<body>

	<div class="container">

		<div n:foreach="$flashes as $flash" class="alert alert-{$flash->type}">{$flash->message}</div>

		{include content}

		{block scripts}
			<script src="{$basePath}/bower_components/nette-forms/src/assets/netteForms.js"></script>
		{/block}

	</div>

</body>
</html>
