<div class="row">
    <div class="col-md-12">
        <h1>Výsledky hledání výrazu: "{$searchPhrase}" - nalezeno {count($products)} položek</h1>

        {foreach $products as $product}

            <div class="">
                <h2>{$product->name}</h2>
                <p>{$product->description}</p>
                <em>{$product->price}</em>

                <a class="btn btn-default" href="{plink Product:detail productId => $product->id}">Detail</a>

            </div>

        {/foreach}

    </div>
</div>