<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">

	<title>{ifset title}{include title|striptags} | {/ifset}Nette Web</title>
</head>

<body>
	<div n:foreach="$flashes as $flash" n:class="flash, $flash->type">{$flash->message}</div>

	<p>Přihlášen: {$user->getIdentity()->getEmail()} <a n:href="Sign:out">odhlásit</a></p>

	<ul>
		<li>
			Produkty
			<ul>
				<li><a n:href="Product:default">Přehled</a></li>
				<li><a n:href="Product:addProduct">Vložit produkt</a></li>
				<li><a n:href="Product:addCategory">Vložit kategorii</a></li>
			</ul>
		</li>
		<li>
			Objednávky
			<ul>
				<li><a href="#">Přehled</a></li>
				<li><a href="#">Vytvořit novou</a></li>
			</ul>
		</li>

	</ul>

	{include content}

	{block scripts}
	<script src="https://nette.github.io/resources/js/netteForms.min.js"></script>
	{/block}
</body>
</html>
