services:
    - App\Components\GoogleAnalytics\GoogleAnalyticsFactory(
        %debugMode%,
        %analytics.googleAnalytics.site%,
        %analytics.googleAnalytics.key%
    )

    - App\Components\BaseForm\BaseFormFactory
    - App\Components\RegistrationForm\RegistrationFormFactory
    - App\Components\LoginForm\LoginFormFactory
    - App\Components\ChangePasswordForm\ChangePasswordFormFactory
    - App\Components\LostPasswordForm\LostPasswordFormFactory
    - App\Components\ProductForm\ProductFormFactory
    - App\Components\BuyForm\BuyFormFactory
    - App\Components\CategoryTree\CategoryTreeFactory
    - App\Components\CartInfo\CartInfoFactory
    - App\Components\Cart\CartFactory
    - App\Components\OrderForm\OrderForm
    - App\Components\ContactForm\ContactFormFactory
    - App\Components\ProductSearch\ProductSearchFactory
