parameters:
    analytics:
        googleAnalytics:
            site: auto
            key: #UA-XXX-YY from Google Analytics Console

doctrine:
    user:
    password:
    dbname:
    metadata:
        App: %appDir%