services:
    router: App\RouterFactory::createRouter

    - App\Model\Users\Authenticator
    - App\Model\Users\UserRepository

    - App\Model\Eshop\CartSessionStorage
    - App\Model\Eshop\Cart

    - Tomaj\Form\Renderer\BootstrapVerticalRenderer

    - Analytics\Components\GoogleAnalytics(
            %debugMode%,
            %analytics.googleAnalytics.site%,
            %analytics.googleAnalytics.key%
        )

    - App\Components\BaseFormFactory
    - App\Components\RegistrationFormFactory
    - App\Components\LoginFormFactory
    - App\Components\ChangePasswordFormFactory
    - App\Components\LostPasswordFormFactory
    - App\Components\ProductFormFactory
    - App\Components\BuyFormFactory
    - App\Components\CategoryTreeFactory
    - App\Components\CartInfoFactory
    - App\Components\CartFactory
    - App\Components\OrderForm

    - App\Model\Products\ProductSearchFactory

    - App\Model\LostPasswordResetMessageSender
    - App\Model\MessageSenderSettings('simple-shop', 'info@hc4l.cz', '')

    -
        class: App\Model\Fixtures\DefaultData
        tags: [kdyby.console.command]
