services:
    router: App\Router\RouterFactory::createRouter

    - App\Model\Users\Authenticator
    - App\Model\Users\UserRepository

    - App\Model\Eshop\CartSessionStorage
    - App\Model\Eshop\Cart

    - Tomaj\Form\Renderer\BootstrapVerticalRenderer

    - App\Model\Users\LostPasswordResetMessageSender
    - App\Model\Users\MessageSenderSettings('simple-shop', 'info@hc4l.cz', '')

    -
        class: App\Model\Fixtures\DefaultData
        tags: [kdyby.console.command]
