{layout '@layout.latte'}

{block content}

<h1>Zapomenuté heslo</h1>

<p>Klikněte prosím na následující odkaz: <a n:href="Sign:resetPassword, id => $token">Obnovit heslo</a></p>

<p>Platnost odkazu je 24 hodin, poté bude nutné zažádat o změnu hesla znova.</p>