{block content}

    <h1 n:block=title>Zapomenuté heslo</h1>

    <p>Zadejte zde prosím váš e-mail. Na zadaný e-mail vám odešleme odkaz pro nastavení nového hesla.</p>

    {control lostPasswordForm}

{/block}