{block content}
<h1 n:block=title>Levný kokosový olej</h1>

{if $product && $product->isActive()}

    <div class="row">
        <div class="col-md-6">

            <h2>{$product->getName()}</h2>

            <p>Cena: {$product->getPrice()} {$product->getCurrency()->getAbbr()}</p>

        </div>
        <div class="col-md-6">

            {control buyForm}

        </div>
    </div>

{else}

    <p>Prodej kokosového oleje je momentálně pozastaven.</p>

{/if}